@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #09090A;
}
body nav {
  width: 100%;
  background-color: #04011C;
  min-height: 84px;
  -webkit-box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
          box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: 10000;
}
body nav .nav-div {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  padding-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body nav .nav-div .nav-ul {
  width: 100%;
  max-width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body nav .nav-div .nav-ul ul {
  list-style: none;
  width: 100%;
  max-width: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body nav .nav-div .nav-ul ul li {
  font-size: 18px;
}
body nav .nav-div .nav-ul form {
  width: 100%;
  max-width: 333px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body nav .nav-div .nav-ul form .search1 {
  width: 100%;
  height: 100%;
  max-width: 185px;
  min-height: 44px;
  background-color: #1E1B33;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}
body nav .nav-div .nav-ul form .search1__item1 {
  padding-left: 16px;
  height: 100%;
  max-width: 149px;
  border: none;
  background-color: #1E1B33;
  opacity: 40%;
}
body nav .nav-div .nav-ul form .submit {
  width: 100%;
  height: 100%;
  max-width: 128px;
  min-height: 44px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
}
body nav .burger-menu {
  width: 44px;
  height: 44px;
  opacity: 0%;
}
body header {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 618px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 136px;
  background: url("../photo/bg-rectangle-blue.svg") no-repeat, url("../photo/bg-vector.svg") no-repeat, url("../photo/bg-rectangle-pink.svg") no-repeat, url("../photo/bg-circle1.png") no-repeat, url("../photo/bg-circle2.png") no-repeat;
  background-position: left 10% top 8%, left 58% top 0px, left 28% top 85%, left 42% top 80%, left 52% top 69%;
  position: relative;
  z-index: 1000;
}
body header .main-text-content {
  max-width: 739px;
}
body header .main-text-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}
body header .main-text-content h1 span {
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body header .main-text-content p {
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
  max-width: 621px;
}
body header .main-text-content .bg-buttons {
  width: 100%;
  max-width: 245px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header .main-text-content .bg-buttons button {
  width: 100%;
  max-width: 114px;
  min-height: 44px;
  background: #1E1B33;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}
body header .main-text-content .bg-buttons button:active {
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  border: none;
  -webkit-transition: background 0s;
  transition: background 0s;
}
body header .main-text-content .bg-learn-more {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .main-text-content .bg-learn-more h3 {
  font-weight: 500;
  padding-left: 8px;
}
body header .main-pict-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 466px;
}
body header .main-pict-content .div-images .shown {
  width: 100%;
  height: 100%;
  max-width: 466px;
  min-height: 618px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
body header .main-pict-content .div-images .hidden {
  width: 0%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
body .scroler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 101px;
  min-height: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -8px;
}
body .scroler .item1 {
  width: 41px;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  border-radius: 100px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
body .scroler .item2 {
  width: 16px;
  height: 8px;
  background: #D9D9D9;
  border-radius: 100px;
}
body .button-right {
  position: absolute;
  left: 90%;
  top: 55%;
  z-index: 1001;
  width: 100px;
  height: 100px;
  background: url("../photo/rigth-button.svg") center;
  border: none;
}
body .after-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1323px;
  min-height: 76px;
  margin-top: 100px;
}
body .after-main-content .after-main-text {
  max-width: 467px;
  font-size: 20px;
  font-weight: 300;
}
body .after-main-content__item1 {
  max-width: 141px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.014em;
}
body .after-main-content__item1 span {
  font-size: 36px;
  font-weight: 600;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body .after-main-content__item2 {
  max-width: 132px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.014em;
}
body .after-main-content__item2 span {
  font-size: 36px;
  font-weight: 600;
  background: #7040F2;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body .after-main-content__item3 {
  max-width: 138px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.014em;
}
body .after-main-content__item3 span {
  font-size: 36px;
  font-weight: 600;
  background: #7040F2;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body .after-main-content__item4 {
  max-width: 141px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.014em;
}
body .after-main-content__item4 span {
  font-size: 36px;
  font-weight: 600;
  background: #7040F2;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body hr {
  width: 100%;
  max-width: 1320px;
  margin-top: 80px;
  height: 0px;
  border: 1px solid #E7E7E7;
  opacity: 24%;
}
body .drops {
  margin-top: 132px;
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 579px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}
body .drops h1 {
  font-weight: 700;
  font-size: 96px;
  background: linear-gradient(89.62deg, #06045B 7.09%, #E01E5A 92.23%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
body .drops h2 {
  font-weight: 500;
  font-size: 44px;
  margin-top: -69px;
}
body .drops .drops-windows {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
body .drops .drops-windows__item1 {
  width: 100%;
  height: 100%;
  max-width: 312px;
  min-height: 435px;
  background: #1E1B33;
  border-radius: 12px;
}
body .drops .drops-windows__item1 .science {
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 264px;
  min-height: 387px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .drops .drops-windows__item1 .science__photo1 {
  width: 100%;
  height: 100%;
  min-height: 232px;
  background: url("../photo/science-jobs1.png") center/cover, no-repeat;
}
body .drops .drops-windows__item1 .science__photo2 {
  width: 100%;
  height: 100%;
  min-height: 232px;
  background: url("../photo/science-jobs2.png") center/cover, no-repeat;
}
body .drops .drops-windows__item1 .science__photo3 {
  width: 100%;
  height: 100%;
  min-height: 232px;
  background: url("../photo/science-jobs3.png") center/cover, no-repeat;
}
body .drops .drops-windows__item1 .science__photo4 {
  width: 100%;
  height: 100%;
  min-height: 232px;
  background: url("../photo/science-jobs4.png") center/cover, no-repeat;
}
body .drops .drops-windows__item1 .science__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}
body .drops .drops-windows__item1 .science__title h3 {
  font-size: 24px;
  font-weight: 500;
}
body .drops .drops-windows__item1 .science__title .science-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 34px;
  height: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .drops .drops-windows__item1 .science__title .science-likes p {
  font-size: 14px;
  font-weight: 500;
}
body .drops .drops-windows__item1 .science__people {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
body .drops .drops-windows__item1 .science__people .people-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 116px;
}
body .drops .drops-windows__item1 .science__people .people-1 p {
  font-size: 14px;
  font-weight: 500;
}
body .drops .drops-windows__item1 .science__people .people-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 60px;
  margin-left: 4px;
}
body .drops .drops-windows__item1 .science__people .people-2 img {
  margin-left: -4px;
}
body .drops .drops-windows__item1 .science button {
  width: 100%;
  height: 100%;
  min-height: 38px;
  margin-top: 24px;
  background: #1E1B33;
  border: 1px solid rgba(231, 231, 231, 0.4);
  border-radius: 8px;
}
body .drops .drops-windows__item1 .science button:active {
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  border: none;
}
body .collections {
  margin-top: 132px;
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 349px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .collections__title {
  width: 100%;
  height: 100%;
  max-width: 1319px;
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .collections__title .logo-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 823px;
  width: 100%;
}
body .collections__title .logo-sort .nft-collections-title {
  width: 100%;
  height: 100%;
  max-width: 319px;
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .collections__title .logo-sort .nft-collections-title h1 {
  background: linear-gradient(89.62deg, #06045B 7.09%, #E01E5A 92.23%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 96px;
  font-weight: 700;
}
body .collections__title .logo-sort .nft-collections-title h2 {
  font-weight: 500;
  font-size: 44px;
  margin-top: -69px;
}
body .collections__title .logo-sort .nft-sort-list {
  width: 100%;
  max-width: 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .collections__title .logo-sort .nft-sort-list .sort-button {
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid rgba(231, 231, 231, 0.4);
  background: #1E1B33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .collections__title .logo-sort .nft-sort-list .sort-button img {
  margin-left: 7px;
  rotate: 180deg;
  -webkit-transition: rotate 0.5s;
  transition: rotate 0.5s;
}
body .collections__title .logo-sort .nft-sort-list .shown-list {
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  border: none;
}
body .collections__title .logo-sort .nft-sort-list .shown-list img {
  rotate: 0deg;
  -webkit-transition: rotate 0.5s;
  transition: rotate 0.5s;
}
body .collections__title .ethereum {
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  border-radius: 8px;
  font-size: 12px;
  border: 1px solid rgba(231, 231, 231, 0.4);
  background: #1E1B33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .collections__title .ethereum img {
  margin-left: 7px;
}
body .collections .visible1 {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
body .collections .visible7 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .collections .visible30 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
body .collections .list-pages {
  width: 100%;
  max-width: 3960px;
  height: 100%;
  min-height: 101px;
  margin-top: 60px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1320px);
  grid-template-rows: minmax(101px, 351px);
  z-index: 1;
  overflow-x: hidden;
}
body .collections .list-pages .second-sort-page {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, minmax(10px, 424px));
  grid-template-rows: repeat(1, minmax(0px, 101px));
}
body .collections .list-pages .second-sort-page .grid-hidden {
  height: 0%;
  opacity: 0 !important;
  -webkit-transition: opacity 0.5s !important;
  transition: opacity 0.5s !important;
}
body .collections .list-pages .second-sort-page .grid-sec {
  background: #1E1B33;
  border: 1px solid rgba(231, 231, 231, 0.4);
  border-radius: 16px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
  width: 100%;
  max-width: 319px;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 .grid-text2 {
  padding-top: 17px;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 div h2 {
  font-size: 20px;
  font-weight: 500;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 div p {
  color: #03DB80;
  font-weight: 500;
}
body .collections .list-pages .second-sort-page .grid-sec .grid-sect .grid-text1 div h3 {
  font-size: 14px;
}
body .collections .list-pages .second-sort-page .grid-sec:hover {
  -webkit-box-shadow: 0px 20px 50px rgba(223, 30, 91, 0.1);
          box-shadow: 0px 20px 50px rgba(223, 30, 91, 0.1);
  border: 1px solid pink;
}
body .collections .see-all {
  position: relative;
  z-index: 100000;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  border-radius: 8px;
  font-size: 14px;
  background: #1E1B33;
  border: 1px solid rgba(231, 231, 231, 0.4);
  margin-top: -194px;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}
body .collections .see-all-shown {
  border: none;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  margin-top: 56px !important;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}
body .trending {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 639px;
  border: 1px solid white;
  margin-top: 132px;
}
body .resources {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 671px;
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .resources .nft-resources-title {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
body .resources .nft-resources-title h1 {
  background: linear-gradient(89.62deg, #06045B 7.09%, #E01E5A 92.23%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 96px;
  font-weight: 700;
}
body .resources .nft-resources-title h2 {
  font-weight: 500;
  font-size: 44px;
  margin-top: -69px;
}
body .resources .resources-grid {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 464px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: minmax(100px, 636px) minmax(100px, 660px);
  grid-template-rows: repeat(2, 216px);
  row-gap: 32px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
body .resources .resources-grid__item1 {
  grid-row: span 2;
  background: url("../photo/resources-main.png") center/cover no-repeat;
}
body .resources .resources-grid__item2 {
  background: #1E1B33;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}
body .resources .resources-grid__item2 .resources-img {
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
}
body .resources .resources-grid__item2 .container-resources {
  padding-left: 24px;
  width: 100%;
  height: 100%;
  max-width: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .resources .resources-grid__item2 .container-resources .resources-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
}
body .resources .resources-grid__item2 .container-resources .resources-buttons button {
  margin-right: 12px;
  padding-right: 24px;
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  line-height: 14px;
}
body .resources .resources-grid__item2 .container-resources .resources-buttons p {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .resources .resources-grid__item2 .container-resources .resources-buttons p img {
  margin-right: 4px;
}
body .resources .resources-grid__item2 .container-resources h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}
body .resources .resources-grid__item2 .container-resources .resources-people {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .resources .resources-grid__item2 .container-resources .resources-people p {
  max-width: 113px;
  font-weight: 500;
}
body .resources .resources-grid__item2 .container-resources .resources-people p span {
  color: #C0C0C0;
  font-weight: 400;
}
body .resources .resources-grid__item2 .container-resources .resources-people img {
  margin-right: 16px;
}
body .resources .nft-token {
  width: 100%;
  height: 100%;
  max-width: 508px;
  min-height: 152px;
  background: #1E1B33;
  margin-left: 32px;
  margin-top: -153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  border-radius: 8px;
}
body .resources .nft-token .nft-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .resources .nft-token .nft-button button {
  font-size: 14px;
  line-height: 14px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border: none;
  margin-right: 12px;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
}
body .resources .nft-token .nft-button p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .resources .nft-token .nft-button p img {
  margin-right: 4px;
}
body .resources .nft-token h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}
body .resources .nft-token__person {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body .resources .nft-token__person p {
  font-weight: 500;
  max-width: 112px;
  padding-left: 16px;
}
body .resources .nft-token__person p span {
  font-weight: 400;
  color: #C0C0C0;
}
body .popular {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 597px;
  border: 1px solid white;
  margin-top: 132px;
}
body .create {
  width: 100%;
  height: 100%;
  max-width: 1281px;
  min-height: 486px;
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .create__img {
  width: 100%;
  height: 100%;
  max-width: 466px;
  min-height: 486px;
  background: url("../photo/cristal-img.png") center/cover no-repeat;
}
body .create__text {
  width: 100%;
  max-width: 755px;
}
body .create__text h1 {
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}
body .create__text p {
  margin-top: 28px;
  font-weight: 300;
  color: #C0C0C0;
  font-size: 18px;
}
body .create__text button {
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
  margin-top: 48px;
  border: none;
  border-radius: 8px;
}
body .brands {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 78px;
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .brands__logo1 {
  width: 100px;
  height: 69px;
  background: url("../photo/last-logo1.svg");
  background-size: 100px 69px;
}
body .brands__logo2 {
  width: 208px;
  height: 60px;
  background: url("../photo/last-logo2.svg");
  background-size: 208px 60px;
}
body .brands__logo3 {
  width: 200px;
  height: 78px;
  background: url("../photo/last-logo3.svg");
  background-size: 200px 78px;
}
body .brands__logo4 {
  width: 200px;
  height: 78px;
  background: url("../photo/last-logo4.svg");
  background-size: 200px 78px;
}
body .brands__logo5 {
  width: 174px;
  height: 59px;
  background: url("../photo/last-logo5.svg");
  background-size: 174px 59px;
}
body footer {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  min-height: 541px;
  border: 1px solid white;
  margin-top: 80px;
}
body .blur1 {
  position: absolute;
  left: -346px;
  top: -284px;
}
body .blur2 {
  position: absolute;
  left: 798px;
  top: 762px;
}
body .blur3 {
  position: absolute;
  left: 820px;
  top: 1926px;
}