@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    background-color: #09090A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    nav {
        width: 100%;
        background-color: #04011C;
        min-height: 84px;
        box-shadow: 0px 20px 40px rgba(205, 28, 104, 0.08);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        z-index: 10000;


        .nav-div {
            width: 100%;
            height: 100%;
            max-width: 1320px;
            padding-left: 44px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .nav-ul {
                width: 100%;
                max-width: 820px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                ul {
                    list-style: none;
                    width: 100%;
                    max-width: 321px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;

                    li {
                        font-size: 18px;
                    }
                }

                form {
                    width: 100%;
                    max-width: 333px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .search1 {
                        width: 100%;
                        height: 100%;
                        max-width: 185px;
                        min-height: 44px;
                        background-color: #1E1B33;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border: 1px solid #E7E7E7;
                        border-radius: 8px;


                        &__item1 {
                            padding-left: 16px;
                            height: 100%;
                            max-width: 149px;
                            border: none;
                            background-color: #1E1B33;
                            opacity: 40%;
                        }


                    }

                    .submit {
                        width: 100%;
                        height: 100%;
                        max-width: 128px;
                        min-height: 44px;
                        border: none;
                        border-radius: 8px;
                        background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
                    }
                }
            }
        }

        .burger-menu {
            width: 44px;
            height: 44px;
            opacity: 0%;
        }
    }

    header {
        width: 100%;
        height: 100%;
        max-width: 1320px;
        min-height: 618px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 136px;
        background: url('../photo/bg-rectangle-blue.svg') no-repeat, url('../photo/bg-vector.svg') no-repeat, url('../photo/bg-rectangle-pink.svg') no-repeat, url('../photo/bg-circle1.png') no-repeat, url('../photo/bg-circle2.png') no-repeat;
        background-position: left 10% top 8%, left 58% top 0px, left 28% top 85%, left 42% top 80%, left 52% top 69%;
        position: relative;
        z-index: 1000;

        .main-text-content {
            max-width: 739px;

            h1 {
                font-size: 64px;
                font-weight: 700;
                line-height: 80px;
    
                span {
                    font-size: 64px;
                    font-weight: 700;
                    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
                    background-clip: text;
                    color: transparent;
                }
            }

            p {
                font-weight: 300;
                font-size: 24px;
                margin-top: 20px;
                max-width: 621px;
            }

            .bg-buttons {
                width: 100%;
                max-width: 245px;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;

                button {
                    width: 100%;
                    max-width: 114px;
                    min-height: 44px;
                    background: #1E1B33;
                    border: 1px solid #E7E7E7;
                    border-radius: 8px;
                }

                button:active {
                    background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
                    border: none;
                    transition: background 0s;
                }
            }

            .bg-learn-more {
                margin-top: 46px;
                display: flex;
                align-items: center;

                h3 {
                    font-weight: 500;
                    padding-left: 8px;
                }
            }
        }

        .main-pict-content {
            width: 100%;
            height: 100%;
            max-width: 466px;
            min-height: 618px;
            background: url('../photo/main-list.png') center/cover no-repeat;
        }
    }

    .scroler {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 101px;
        min-height: 8px;
        flex-direction: row;
        margin-top: -8px;

        .item1 {
            width: 41px;
            background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
        }

        div {
            width: 16px;
            height: 8px;
            background: #D9D9D9;
            border-radius: 100px;
        }
    }

    .button-right {
        position: absolute;
        left: 1341px;
        top: 358px;
        z-index: 1001;
    }

    .after-main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1323px;
        min-height: 76px;
        margin-top: 100px;

        .after-main-text {
            max-width: 467px;
            font-size: 20px;
            font-weight: 300;
        }

        &__item1 {
            max-width: 141px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.014em;
            span {
                font-size: 36px;
                font-weight: 600;
                background: linear-gradient(89.62deg, #0500FA 7.09%, #E01E5A 92.23%);
                background-clip: text;
                color: transparent;
            }
        }
        &__item2 {
            max-width: 132px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.014em;
            span {
                font-size: 36px;
                font-weight: 600;
                background: #7040F2;
                background-clip: text;
                color: transparent;
            }
        }
        &__item3 {
            max-width: 138px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.014em;
            span {
                font-size: 36px;
                font-weight: 600;
                background: #7040F2;
                background-clip: text;
                color: transparent;
            }
        }
        &__item4 {
            max-width: 141px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.014em;
            span {
                font-size: 36px;
                font-weight: 600;
                background: #7040F2;
                background-clip: text;
                color: transparent;
            }
        }
    }

    hr {
        width: 100%;
        max-width: 1320px;
        margin-top: 80px;
        height: 0px;
        border: 1px solid #E7E7E7;
        opacity: 24%;
    }

    .drops {
        margin-top: 132px;
        width: 100%;
        height: 100%;
        max-width: 1320px;
        min-height: 579px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 96px;
            background: linear-gradient(89.62deg, #06045B 7.09%, #E01E5A 92.23%);
            background-clip: text;
            color: transparent;
        }

        h2 {
            font-weight: 500;
            font-size: 44px;
            margin-top: -69px;
        }

        .drops-windows {
            width: 100%;
            height: 100%;
            max-width: 1320px;
            min-height: 435px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 60px;
            margin-bottom: 132px;

            div {
                width: 100%;
                height: 100%;
                max-width: 312px;
                min-height: 435px;
                background: #1E1B33;
                border-radius: 12px;
            }
        }
    }
}